body{
    background-color: black;
    position: relative;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h3{
    color: #BBC5AA;
    text-align: center;
}
#whole{
    text-align: center;
}
.playbar{
    display: block;
    position: relative;
    top:40px;
    bottom: 0;
    background-color: #BBC5AA;
    width: 100%;
    height: 30px;
    padding: 14px;
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.audio{
    position: relative;
    top: 100px;
}
